<div class="authWrapper">
  <div class="fromsBlock">

    <div class="froms">
      <div>
        <input type="text" placeholder="First Name" class="authForm">
        <input type="text" placeholder="Last Name" class="authForm">
      </div>
      <div>
        <input type="email" placeholder="Email" class="authForm">
        <input type="number" placeholder="Phone" class="authForm">
      </div>
      <div>
        <input type="text" placeholder="Country" class="authForm">
        <input type="number" placeholder="Postal Code" class="authForm">
      </div>
      <div>
        <input type="text" placeholder="Region" class="authForm">
        <input type="text" placeholder="City" class="authForm">
      </div>
      <div>
        <input type="text" placeholder="Adress" class="authForm">
        <input type="text" placeholder="Appartment, suite, etc. (optional)" class="authForm">
      </div>
    </div>

    <div class="textareaBlock">
      <label for="textarea">Notes:</label>
      <textarea class="textarea" id="textarea"></textarea>
    </div>

  </div>

  <div class="authBtnBlock">
    <div class="agreement">
      <input type="checkbox" id="agreeCheck">
      <label for="agreeCheck">I agree to the processing of <span>personal data</span></label>
    </div>

    <div class="authBtn">
      <button>Auth</button>
    </div>
  </div>
</div>
