<div class="shirtCardWrapper">

  <!-- <div class="shirtCard" *ngFor="let card of shirtCardArray">
    <div class="shirtImgBlock">
      <img [src]="card.image" alt="Product Photo">
    </div>

    <div class="shirtTitleBlock">
      <p>{{ card.name }}</p>
    </div>

    <div class="shirtPriceBlock">
      <p class="italicFont">{{card.price}} $</p>
    </div>
  </div> -->

  <!-- <div class="shirtCard" *ngFor="let item of products">
    <div class="shirtImgBlock">
      <img src="../../assets/img/mens-shirts/1.png" alt="Product Photo">
    </div>

    <div class="shirtTitleBlock">
      <p>MIXED PRINT COTTON POPLIN SHIRT</p>
    </div>

    <div class="shirtPriceBlock">
      <p class="italicFont">925 $</p>
    </div>
  </div> -->

  <!-- <div class="shirtCard">
    <div class="shirtImgBlock">
      <img src="../../assets/img/mens-shirts/2.png" alt="Product Photo">
    </div>

    <div class="shirtTitleBlock">
      <p>ACANTHUS PRINT COTTON POPLIN SHIRT</p>
    </div>

    <div class="shirtPriceBlock">
      <p class="italicFont">730 $</p>
    </div>
  </div>

  <div class="shirtCard">
    <div class="shirtImgBlock">
      <img src="../../assets/img/mens-shirts/3.png" alt="Product Photo">
    </div>

    <div class="shirtTitleBlock">
      <p>LHOMME MOTIF PRINCE OF WALES SHIRT</p>
    </div>

    <div class="shirtPriceBlock">
      <p class="italicFont">1110$</p>
    </div>
  </div> -->
  
</div>