<div class="basketWrapper">
  <div class="orderedProdsWrapper">

    <div class="orderedProd">
      <div class="orderedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/6.png" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <span class="italicFont price">1700$</span>
        </div>
      </div>
    </div>

    <!-- <div class="orderedProd">
      <div class="orderedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/6.png" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <span class="italicFont price">1700$</span>
        </div>
      </div>
    </div>
    
    <div class="orderedProd">
      <div class="orderedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/6.png" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <span class="italicFont price">1700$</span>
        </div>
      </div>
    </div>
    
    <div class="orderedProd">
      <div class="orderedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/6.png" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <span class="italicFont price">1700$</span>
        </div>
      </div>
    </div>
    
    <div class="orderedProd">
      <div class="orderedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/6.png" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <span class="italicFont price">1700$</span>
        </div>
      </div>
    </div> -->

  </div>

  <div class="checkoutWrapper">
    <div class="orderSubtotal">
      <p class="subtotal">Subtotal:</p>

      <span class="italicFont subtotalPrice">1750$</span>
    </div>

    <div class="checkoutBtn">
      <!-- <button [routerLink]="[ { outlets: { popUp: ['basket', 'complete-order'] } }  ]">checkout</button> -->
      <button [routerLink]="[ 'complete-order' ]">checkout</button>
    </div>
  </div>
</div>
