<div class="basketWrapper">
  <div class="orderedProdsWrapper">

    <div class="orderedProd" *ngFor="let pr of basketArr; let i = index">
      <div class="orderedProdImgBlock">
        <img [src]="pr.image" alt="Ordered Product">
      </div>

      <div class="orderedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">{{pr.name}}</p>

          <span class="size">Size: {{pr.size}}</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross" (click)="deleteProd(pr)">&#10005;</span>

          <span class="italicFont price">{{pr.price}}$</span>
        </div>
      </div>
    </div>


  </div>



  <div class="checkoutWrapper">
    <div class="orderSubtotal">
      <p class="subtotal">Subtotal:</p>

      <span class="italicFont subtotalPrice">{{summaryPrice}}$</span>
    </div>

    <div class="checkoutBtn">
      <!-- <button [routerLink]="[ { outlets: { popUp: ['basket', 'complete-order'] } }  ]">checkout</button> -->
      <button [routerLink]="[ 'complete-order' ]">checkout</button>
    </div>
  </div>
</div>
