<section class="footer">
  <div class="container">

    <div class="wrapper">
      <div class="footerWrapper">

        <div class="versaceFooterLogoWrapper">

          <div class="versaceFooterLogoBlock">
            <svg class="versaceLogo">
              <use xlink:href="../../assets/sprite.svg#versaceLogo"></use>
            </svg>
          </div>

          <div class="sendMailWrapper">
            <h3>enter the world of versace</h3>

            <input type="email" name="mail" placeholder="Email adress">
          </div>

        </div>

        <div class="footerContentWrapper">

          <div class="sendMailWrapper">
            <div class="sendMailBlock">
              <h3>enter the world of versace</h3>

              <input type="email" name="mail" placeholder="Email adress">
            </div>

            <div class="versaceFooterLogoBlock versaceLogoMobile">
              <svg class="versaceLogo">
                <use xlink:href="../../assets/sprite.svg#versaceLogo"></use>
              </svg>
            </div>

          </div>

          <div class="footerListWrapper">

            <div class="footerListFirstBlock">

              <div class="footerUlWrapper">
                <p>Customer care</p>
                <ul>
                  <li>Exclusive services</li>
                  <li>Contact us</li>
                  <li>Help | FAQS</li>
                  <li>Orders & Shipping</li>
                  <li>Returns and refunds</li>
                  <li>Authenticity</li>
                  <li>Accessibility</li>
                </ul>
              </div>

              <div class="footerUlWrapper">
                <p>Legal</p>
                <ul>
                  <li>Legal Notes</li>
                  <li>Terms & Conditions</li>
                  <li>Ethical Code</li>
                  <li>Privacy Policy</li>
                  <li>Cookie Policy</li>
                  <li>Conditions of Purchase</li>
                </ul>
              </div>

            </div>

            <div class="footerListSecondBlock">

              <div class="footerUlWrapper">
                <p>About us</p>
                <ul>
                  <li>Company Profile</li>
                  <li>Corporate Data</li>
                  <li>Investor Relations</li>
                  <li>Careers</li>
                </ul>
              </div>

              <div class="footerUlWrapper">
                <p>Store Locator</p>
                <ul>
                  <li>Find a Boutique</li>
                  <li>Book an Appointment </li>
                  <li>Versace Watches Stores</li>
                </ul>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="copyrightWrapper">
        <div class="copyrightBlock">
          <p>© Gianni Versace S.r.l. P.IVA IT04636090963</p>
        </div>

        <div class="socMediaBlock">

          <div class="facebook socMediaSvg">
            <svg class="facebook">
              <use xlink:href="../../assets/sprite.svg#facebook"></use>
            </svg>
          </div>

          <div class="instagram socMediaSvg">
            <svg class="instagram">
              <use xlink:href="../../assets/sprite.svg#instagram"></use>
            </svg>
          </div>

          <div class="twitter socMediaSvg">
            <svg class="twitter">
              <use xlink:href="../../assets/sprite.svg#twitter"></use>
            </svg>
          </div>

          <div class="linkedin socMediaSvg">
            <svg class="linkedin">
              <use xlink:href="../../assets/sprite.svg#linkedin"></use>
            </svg>
          </div>

        </div>
      </div>
    </div>



  </div>
</section>
