<div class="container">
  <div class="wrapper">

    <div class="donatellaWrapper">

      <div class="donatellaTextWrapper">
        <div class="donatellaTextBlock">
          <div class="donTitleBlock">
            <h2>
              Donatella <br /> — <span class="italicFont">Versace:</span>
            </h2>
          </div>

          <div class="donRevBlock">
            <p>“Who is the man and who is the woman of today? The reson i wanted to do show my men’s and women’s
              collections together today is because men and women are equally powerful”</p>
          </div>
        </div>
      </div>

      <div class="donatellaImgWrapper">
        <div class="donatellaImgBlock">

          <div class="donImg1">
            <img src="../../../../assets/img/home/donatella1.png" alt="Donatella Photo">
          </div>

          <div class="donImg2">
            <img src="../../../../assets/img/home/donatella2.png" alt="Donatella Photo">
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
