<div class="container">
  <div class="wrapper">

    <div class="contactWrapper">

      <div class="contactBgImg1 contactBgImg">
        <img src="../../../../assets/img/home/contact1.png" alt="Contact Image">
      </div>

      <div class="contactTitleWrapper">
        <div class="contactTitleBlock">

          <div class="contactSubtitleBlock">
            <p>Contact</p>
          </div>

          <div class="contactTitle">
            <h2>don`t be <span class="italicFont">a</span><br> stranger</h2>
          </div>

          <div class="contactBtnBlock">
            <button>read the article</button>
          </div>

        </div>
      </div>

      <div class="contactBgImg2 contactBgImg">
        <img src="../../../../assets/img/home/contact2.png" alt="Contact Image">
      </div>


    </div>

  </div>
</div>

<!-- <app-donatella-rev-block></app-donatella-rev-block> -->