<!-- <div class="container"> -->
  <!-- <div class="wrapper"> -->

    <div class="versaceLogoWrapper">
      <div class="versaceLogoBlock">
        <svg class="versaceLogo">
          <use xlink:href="../../assets/sprite.svg#versaceLogo"></use>
        </svg>
      </div>
    </div>

    <div class="mainTitleWrapper">
      <div class="mainTitleBlock">
        <h1>explore <span class="italicFont">and</span><br> enter the world <br>
          —<span class="italicFont">of</span>&nbsp; versace</h1>
      </div>
    </div>

    <div class="sliderWrapper">

      <div class="sliderBlock">
        <div class="slide1 slide">
          <img src="../../../../assets/img/home/greet5.png" alt="slide">
        </div>
        <div class="slide2 slide">
          <img src="../../../../assets/img/home/greet4.png" alt="slide">
        </div>
        <div class="slide3 slide">
          <img src="../../../../assets/img/home/greet1.png" alt="slide">
        </div>
        <div class="slide4 slide">
          <img src="../../../../assets/img/home/greet2.png" alt="slide">
        </div>
        <div class="slide5 slide">
          <img src="../../../../assets/img/home/greet3.png" alt="slide">
        </div>
      </div>
    </div>

  <!-- </div> -->
<!-- </div> -->
