<div class="productDetailsWrapper">

  <div class="productDetailsImgBlock">
    <img [src]="view?.image" alt="product-photo">
  </div>

  <div class="productDetailsInfoWrapper">
    <div class="productDetailsInfoBlock">

      <h3 class="backBtn" (click)="back()">Back</h3>

      <h2 class="productDetailsTitle">{{view?.name}}</h2>

      <span class="productDetailsPrice italicFont">{{view?.price}} $</span>

      <p class="productDetailsDescription">{{view?.description}}</p>

      <div class="productDetailsSizeBlock">
        <span>Size guide</span>

        <ul class="productDetailsSizeList">
          <li *ngFor="let prodSize of sizeList; let i = index" (click)="addActive($event)">
            {{prodSize.size}}
          </li>
        </ul>

        

        <div class="productDetailsBtnBlock">
          <button (click)="addToBasket()">
            add to bag
          </button>
        </div>

        <div class="productDetailsWishBlock">
          <div class="wishlistBlock">
            <svg class="likedSvg" (click)="addToWishlist()">
              <use xlink:href="../../assets/sprite.svg#liked"></use>
            </svg>

            <span (click)="addToWishlist()">Add to wislist</span>
          </div>
        </div>

      </div>
    </div>
  </div>
