<div class="container">
  <div class="wrapper">

    <div class="embTitleWrapper">
      <div class="embTitleBlock">
        <h2>
          new <span class="italicFont">in</span>: <br>
          rose — embellished
        </h2>
      </div>
    </div>

  </div>

  <div class="embProdWrapper">
    <div class="embProdBlock">

      <div class="embProd1 embProd">
        <div class="embImgBlock">
          <img src="../../../../assets/img/home/emb1.png" alt="Product Photo">
        </div>

        <div class="embProdTitleBlock">
          <p>mexed print cotton poplin shirt</p>
        </div>

        <div class="embProdPriceBlock">
          <p class="italicFont">925 $</p>
        </div>

      </div>

      <div class="embProd2 embProd">
        <div class="embImgBlock">
          <img src="../../../..//assets/img/home/emb2.png" alt="Product Photo">
        </div>

        <div class="embProdTitleBlock">
          <p>rose intarsia wool and mohair sweater</p>
        </div>

        <div class="embProdPriceBlock">
          <p class="italicFont">1750 $</p>
        </div>

      </div>

      <div class="embProd3 embProd">
        <div class="embImgBlock">
          <img src="../../../../assets/img/home/emb3.png" alt="Product Photo">
        </div>

        <div class="embProdTitleBlock">
          <p>acanthus print cotton poplin shirt</p>
        </div>

        <div class="embProdPriceBlock">
          <p class="italicFont">1395 $</p>
        </div>

      </div>

    </div>
  </div>
</div>
