<div class="wishlistWrapper">
  <div class="wishedProds">

    <div class="wishedProd" *ngFor="let w of wishlistArr; let i=index">

      <div class="wishedProdImgBlock">
        <img [src]="w.image" alt="Ordered Product">
      </div>

      <div class="wishedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">{{w.name}}</p>

          <span class="size">Size: {{w.size}}</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross" (click)="deleteWishProd(i)">&#10005;</span>

          <div class="addToBasketBtn">
            <button (click)="addToBasket(i)">Add to basket</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
