<div class="wishlistWrapper">
  <div class="wishedProds">

    <div class="wishedProd">

      <div class="wishedProdImgBlock">
        <img src="../../../assets/img/mens-shirts/7.png" alt="Ordered Product">
      </div>

      <div class="wishedProdInfoBlock">
        <div class="ordProdNameSize">
          <p class="name">BAROCCO MOSAIC PRINT SILK shirt</p>

          <span class="size">Size: 44</span>
        </div>

        <div class="ordProdPrice">
          <span class="cross">&#10005;</span>

          <div class="addToBasketBtn">
            <button>Add to basket</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
